body {
  background-image: url("../images/background.png");
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border: none;
}

/*
not used, couldnt make classes work
was meant to work with the the info cards when clicked on the hrefs

.blink-outter .blink {
  animation: card-blink 0.6s ease-in 0s 1 normal;
}

@keyframes card-blink {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
*/

@font-face {
  font-family: "FlippsRegular";
  src: local("FlippsRegular"),
    url("../fonts/FlippsRegular.ttf") format("truetype");
}

.head-title {
  font-weight: 1;
  font-size: 2.4rem;
  line-height: 2;

  color: gold;
  font-family: "FlippsRegular";
}

.title-section > *:first-child {
  transform: rotate(180deg);
}

.animatedTitle .intro-only {
  position: relative;
  animation: move-in 0.3s forwards;
  opacity: 0;
}

@keyframes move-in {
  0% {
    right: -0.5em;
    opacity: 0;
  }
  100% {
    right: 0.2em;
    opacity: 1;
  }
}

.animatedTitle .intro-outro {
  position: relative;
  animation: move-in-out 2.6s forwards;
  opacity: 0;
}

@keyframes move-in-out {
  0% {
    right: -0.5em;
    opacity: 0;
  }
  10% {
    right: 0.2em;
    opacity: 1;
  }
  90% {
    right: 0.2em;
    opacity: 1;
  }
  100% {
    right: 0.9em;
    opacity: 0;
  }
}

h1 {
  color: white;
  font-family: "FlippsRegular";
  font-weight: 1;
  line-height: 1;
}
