.grid-block {
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;

  border-radius: 2px;
  background-color: white;
  display: inline-block;

  margin: 2px;
}

.grid-block-invisible {
  opacity: 0;
}

.grid-size2.grid-block-visible {
  transform-origin: bottom left;
  animation: block-rotate-stay 1s forwards;
  opacity: 0;
}

@keyframes block-rotate-stay {
  0% {
    transform: rotate(-90deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.grid-size1.grid-block-visible {
  transform-origin: bottom left;
  animation: block-rotate-back 3s;
  opacity: 0;
}

@keyframes block-rotate-back {
  0% {
    transform: rotate(-90deg);
  }
  15% {
    opacity: 1;
  }
  25% {
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
  }
  100% {
  }
}

@keyframes colorize-1 {
  35% {
    background-color: rgb(255, 123, 255);
  }
  65% {
    background-color: rgb(255, 123, 255);
  }
}

@keyframes colorize-2 {
  35% {
    background-color: rgb(80, 251, 146);
  }
  65% {
    background-color: rgb(80, 251, 146);
  }
}
