.card-line {
  width: 0px;
  height: inherit;
  border: 1px solid white;
}

.card-paper {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
}

.labels-box button {
  color: #fff;

  border: none;
  border-radius: 4px;
  min-width: 80px;

  padding: 12px 22px 9px 22px;
  margin-right: 10px;
  margin-bottom: 12px;

  font-size: 21px;
  line-height: 1;
  font-family: "labelFont";
}

@font-face {
  font-family: "OriginTech";
  src: local("OriginTech"), url("../fonts/OriginTech.ttf") format("truetype");
}

.card-title {
  margin: 0px;
  font-weight: 1;
  font-size: 3.2rem;
  line-height: 1;
  margin-bottom: 0.35em;

  color: inherit;
  font-family: "OriginTech";
}

.image-placeholder {
  position: absolute;
  opacity: 0;
}

@font-face {
  font-family: "labelFont";
  src: local("labelFont"), url("../fonts/StayAndShine.ttf") format("truetype");
}
