@media only screen and (max-width: 1000px) {
  /* Spelling mistake: double p instead of double s => disappear, too many references to fix now... */
  .dissapear-at-width {
    display: none;
  }

  .appear-at-width {
    display: block;
  }

  .selected {
    background-color: rgb(223, 255, 220);
  }

  .not-selected {
    background-color: rgb(254, 255, 230);
  }
}

@media only screen and (min-width: 1000px) {
  .animated-image-div {
    width: 40%;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .animated-image-div > * {
    margin: auto;
  }

  .appear-at-width {
    display: none;
  }
}

/* home page title widths */

@media only screen and (max-width: 1650px) {
  .grid-block.grid-size1 {
    min-width: 6px;
    min-height: 6px;
    max-width: 6px;
    max-height: 6px;

    border-radius: 2px;
    margin: 2px;
  }
}

@media only screen and (max-width: 1200px) {
  .grid-block.grid-size2 {
    min-width: 8px;
    min-height: 8px;
    max-width: 8px;
    max-height: 8px;

    border-radius: 2px;
    margin: 2px;
  }

  .grid-block.grid-size1 {
    min-width: 5px;
    min-height: 5px;
    max-width: 5px;
    max-height: 5px;

    border-radius: 1.5px;
    margin: 0px 1.5px;
  }
}
