textarea,
.switch-button,
.convert-button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

textarea {
  min-width: 100%;
  resize: none;
}

.switch-button {
  background-color: rgb(61, 228, 250);
  color: rgb(61, 133, 250);
  cursor: pointer;
  margin-top: 30px;
}

.switch-button:hover {
  background-color: rgb(23, 205, 230);
  color: rgb(4, 100, 255);
}

.convert-button {
  background-color: rgb(189, 255, 189);
  color: rgb(17, 138, 69);
  cursor: pointer;
  margin-top: 30px;
  font-size: 20px;
  padding: 12px 40px;
}

.convert-button:hover {
  background-color: rgb(138, 255, 138);
  color: rgb(3, 124, 55);
}

.js-arrow {
  animation: rotate-to-left 0.8s ease-in-out forwards;
}

@keyframes rotate-to-left {
  0% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.css-arrow {
  animation: rotate-to-right 0.8s ease-in-out forwards;
}

@keyframes rotate-to-right {
  0% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(170deg);
  }
  80% {
    transform: rotate(185deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

input[type="checkbox"] + label {
  color: #fff;
  margin-right: 2rem;
}
